--
-- PostgreSQL database dump
--

\restrict OuXwvfN3X1aemviqYJhzzMgIhCxa7xcxtF9z8dI1LZM3BQeolqwiWUrr1HKoFQi

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: drivers; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.drivers (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    birth_date date,
    city character varying(100),
    street character varying(100),
    house_number character varying(20),
    employment_date date NOT NULL,
    status character varying(50),
    CONSTRAINT drivers_status_check CHECK (((status)::text = ANY ((ARRAY['wolny'::character varying, 'w trasie'::character varying, 'L4'::character varying])::text[])))
);


ALTER TABLE public.drivers OWNER TO docker;

--
-- Name: drivers_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.drivers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drivers_id_seq OWNER TO docker;

--
-- Name: drivers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.drivers_id_seq OWNED BY public.drivers.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    avatar_url text
);


ALTER TABLE public.users OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.vehicles (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    mileage integer NOT NULL,
    next_service_date date,
    estimated_service_cost numeric(10,2),
    status character varying(50),
    CONSTRAINT vehicles_status_check CHECK (((status)::text = ANY ((ARRAY['w trasie'::character varying, 'wolny'::character varying, 'serwis'::character varying])::text[])))
);


ALTER TABLE public.vehicles OWNER TO docker;

--
-- Name: vehicles_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.vehicles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicles_id_seq OWNER TO docker;

--
-- Name: vehicles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.vehicles_id_seq OWNED BY public.vehicles.id;


--
-- Name: drivers id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.drivers ALTER COLUMN id SET DEFAULT nextval('public.drivers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vehicles id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.vehicles ALTER COLUMN id SET DEFAULT nextval('public.vehicles_id_seq'::regclass);


--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.drivers (id, first_name, last_name, birth_date, city, street, house_number, employment_date, status) FROM stdin;
1	Jan	Kowalski	1980-05-15	Warsaw	Marsza┼ékowska	10	2020-01-01	wolny
2	Marek	Nowak	1985-11-20	Krakow	Floria┼äska	15a	2021-03-10	w trasie
3	Anna	Wisniewska	1990-07-08	Gdansk	D┼éuga	5	2019-11-05	L4
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.vehicles (id, name, type, mileage, next_service_date, estimated_service_cost, status) FROM stdin;
1	Truck 1	Heavy Duty	150000	2024-08-15	500.00	wolny
2	Van 2	Delivery Van	45000	2024-08-22	300.00	w trasie
3	Truck 3	Heavy Duty	180000	2024-09-05	700.00	serwis
4	Toyota Yaris	Samochodzik	100000	2026-01-28	250.00	wolny
\.


--
-- Name: drivers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.drivers_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: vehicles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.vehicles_id_seq', 4, true);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict OuXwvfN3X1aemviqYJhzzMgIhCxa7xcxtF9z8dI1LZM3BQeolqwiWUrr1HKoFQi

