--
-- PostgreSQL database dump
--

\restrict 8pdacvREIIE5pRwzqKeOzGfvhMymv6NxlQ64E2gZVSkyHAn4Z3sDAaVVfGPK5Gu

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: calculate_total_maintenance_cost(integer); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.calculate_total_maintenance_cost(p_vehicle_id integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
    total NUMERIC;
BEGIN
    SELECT COALESCE(SUM(cost), 0) INTO total
    FROM maintenances
    WHERE vehicle_id = p_vehicle_id;
    return total;
END;
$$;


ALTER FUNCTION public.calculate_total_maintenance_cost(p_vehicle_id integer) OWNER TO docker;

--
-- Name: update_status_on_assignment(); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.update_status_on_assignment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Update vehicle status to 'w trasie' when assigned
    IF TG_OP = 'INSERT' AND NEW.end_date IS NULL THEN
        UPDATE vehicles SET status = 'w trasie' WHERE id = NEW.vehicle_id;
        UPDATE drivers SET status = 'w trasie' WHERE id = NEW.driver_id;
    END IF;
    
    -- Update vehicle status to 'wolny' when assignment ends
    IF TG_OP = 'UPDATE' AND OLD.end_date IS NULL AND NEW.end_date IS NOT NULL THEN
        UPDATE vehicles SET status = 'wolny' WHERE id = NEW.vehicle_id;
        UPDATE drivers SET status = 'wolny' WHERE id = NEW.driver_id;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_status_on_assignment() OWNER TO docker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.assignments (
    id integer NOT NULL,
    driver_id integer NOT NULL,
    vehicle_id integer NOT NULL,
    start_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    end_date timestamp without time zone,
    notes text
);


ALTER TABLE public.assignments OWNER TO docker;

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignments_id_seq OWNER TO docker;

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: drivers; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.drivers (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    birth_date date,
    city character varying(100),
    street character varying(100),
    house_number character varying(20),
    employment_date date NOT NULL,
    status character varying(50),
    CONSTRAINT drivers_status_check CHECK (((status)::text = ANY ((ARRAY['wolny'::character varying, 'w trasie'::character varying, 'L4'::character varying])::text[])))
);


ALTER TABLE public.drivers OWNER TO docker;

--
-- Name: drivers_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.drivers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drivers_id_seq OWNER TO docker;

--
-- Name: drivers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.drivers_id_seq OWNED BY public.drivers.id;


--
-- Name: maintenances; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.maintenances (
    id integer NOT NULL,
    vehicle_id integer NOT NULL,
    description text NOT NULL,
    cost numeric(10,2) NOT NULL,
    maintenance_date date NOT NULL,
    status character varying(50) DEFAULT 'completed'::character varying
);


ALTER TABLE public.maintenances OWNER TO docker;

--
-- Name: maintenances_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.maintenances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenances_id_seq OWNER TO docker;

--
-- Name: maintenances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.maintenances_id_seq OWNED BY public.maintenances.id;


--
-- Name: user_settings; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_settings (
    user_id integer NOT NULL,
    theme character varying(20) DEFAULT 'light'::character varying,
    notifications_enabled boolean DEFAULT true
);


ALTER TABLE public.user_settings OWNER TO docker;

--
-- Name: users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    avatar_url text,
    role character varying(50) DEFAULT 'driver'::character varying
);


ALTER TABLE public.users OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.vehicles (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    mileage integer NOT NULL,
    next_service_date date,
    estimated_service_cost numeric(10,2),
    status character varying(50),
    CONSTRAINT vehicles_status_check CHECK (((status)::text = ANY ((ARRAY['w trasie'::character varying, 'wolny'::character varying, 'serwis'::character varying])::text[])))
);


ALTER TABLE public.vehicles OWNER TO docker;

--
-- Name: v_fleet_summary; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.v_fleet_summary AS
 SELECT v.name AS vehicle_name,
    v.type AS vehicle_type,
    v.status AS vehicle_status,
    count(a.id) AS total_assignments
   FROM (public.vehicles v
     LEFT JOIN public.assignments a ON ((v.id = a.vehicle_id)))
  GROUP BY v.id, v.name, v.type, v.status;


ALTER VIEW public.v_fleet_summary OWNER TO docker;

--
-- Name: v_maintenance_costs; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.v_maintenance_costs AS
 SELECT v.name AS vehicle_name,
    COALESCE(sum(m.cost), (0)::numeric) AS total_maintenance_cost
   FROM (public.vehicles v
     LEFT JOIN public.maintenances m ON ((v.id = m.vehicle_id)))
  GROUP BY v.id, v.name;


ALTER VIEW public.v_maintenance_costs OWNER TO docker;

--
-- Name: vehicles_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.vehicles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vehicles_id_seq OWNER TO docker;

--
-- Name: vehicles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.vehicles_id_seq OWNED BY public.vehicles.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: drivers id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.drivers ALTER COLUMN id SET DEFAULT nextval('public.drivers_id_seq'::regclass);


--
-- Name: maintenances id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.maintenances ALTER COLUMN id SET DEFAULT nextval('public.maintenances_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vehicles id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.vehicles ALTER COLUMN id SET DEFAULT nextval('public.vehicles_id_seq'::regclass);


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.assignments (id, driver_id, vehicle_id, start_date, end_date, notes) FROM stdin;
1	2	2	2026-01-25 14:18:16.298098	\N	\N
\.


--
-- Data for Name: drivers; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.drivers (id, first_name, last_name, birth_date, city, street, house_number, employment_date, status) FROM stdin;
1	Jan	Kowalski	1980-05-15	Warsaw	Marsza┼ékowska	10	2020-01-01	wolny
3	Anna	Wisniewska	1990-07-08	Gdansk	D┼éuga	5	2019-11-05	L4
2	Marek	Nowak	1985-11-20	Krakow	Floria┼äska	15a	2021-03-10	w trasie
\.


--
-- Data for Name: maintenances; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.maintenances (id, vehicle_id, description, cost, maintenance_date, status) FROM stdin;
1	1	Oil Change	250.00	2024-01-10	completed
2	1	Brake Pad Replacement	450.00	2026-01-30	pending
3	3	Tire Rotation	120.00	2026-02-06	pending
4	1	Annual Inspection	150.00	2026-02-24	scheduled
5	1	Klepanie zderzaka	250.00	2026-01-26	pending
6	1	Przegl─ůd	200.00	2026-03-06	pending
\.


--
-- Data for Name: user_settings; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_settings (user_id, theme, notifications_enabled) FROM stdin;
1	dark	t
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.vehicles (id, name, type, mileage, next_service_date, estimated_service_cost, status) FROM stdin;
3	Truck 3	Heavy Duty	180000	2024-09-05	700.00	serwis
4	Toyota Yaris	Samochodzik	100000	2026-01-28	250.00	wolny
2	Van 2	Delivery Van	45000	2024-08-22	300.00	w trasie
1	Truck 1	Heavy Duty	150000	2026-03-06	200.00	wolny
\.


--
-- Name: assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.assignments_id_seq', 1, true);


--
-- Name: drivers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.drivers_id_seq', 3, true);


--
-- Name: maintenances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.maintenances_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: vehicles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.vehicles_id_seq', 4, true);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: maintenances maintenances_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.maintenances
    ADD CONSTRAINT maintenances_pkey PRIMARY KEY (id);


--
-- Name: user_settings user_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: assignments trg_update_status_on_assignment; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trg_update_status_on_assignment AFTER INSERT OR UPDATE ON public.assignments FOR EACH ROW EXECUTE FUNCTION public.update_status_on_assignment();


--
-- Name: assignments assignments_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id) ON DELETE CASCADE;


--
-- Name: assignments assignments_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE CASCADE;


--
-- Name: maintenances maintenances_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.maintenances
    ADD CONSTRAINT maintenances_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(id) ON DELETE CASCADE;


--
-- Name: user_settings user_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_settings
    ADD CONSTRAINT user_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 8pdacvREIIE5pRwzqKeOzGfvhMymv6NxlQ64E2gZVSkyHAn4Z3sDAaVVfGPK5Gu

