<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Fleet Manager - Zaloguj się</title>
    <link rel="stylesheet" href="/public/styles/dashboard.css">
    <link rel="stylesheet" href="/public/styles/login.css">
</head>

<body>
    <div class="login-container">
        <div class="login-content">
            <div class="logo">
                <span class="material-symbols-outlined" style="font-size: 3rem; color: var(--primary-color);">
                    local_shipping </span>
                <h1>Fleet Management</h1>
            </div>

            <?php if(isset($messages)){
                foreach($messages as $message) {
                    echo "<div class='messages'>";
                    echo $message;
                    echo "</div>";
                }
            } ?>

            <form class="login-form" action="login" method="POST">
                <div class="form-input">
                    <label>Email</label>
                    <input name="email" type="text" placeholder="email@email.com">
                </div>
                <div class="form-input">
                    <label>Hasło</label>
                    <input name="password" type="password" placeholder="password">
                </div>
                <input type="hidden" name="csrf_token" value="<?= $csrf_token ?>">
                <button type="submit" class="btn-primary">Zaloguj się</button>
            </form>
            <div class="text-link">
                Nie masz konta? <a href="/register">Zarejestruj się</a>
            </div>
        </div>
    </div>
</body>

</html>