<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/login.css"> 
    <title>Zaloguj się</title>
</head>
<body>
    
    <div class="login-container"> 
        
        <div class="login-header">
            ZALOGUJ SIĘ
        </div>
        
        <form>
            <div class="form-group">
                <input type="email" placeholder="Twój email" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Twoje hasło" required>
            </div>
            <button type="submit">LOGIN</button>
        </form>

    </div>
</body>
</html>